*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.arial{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
    background-color: #ff6900;
    height: 70px;
    display: flex;
    justify-content: center;
}

.nav{
    width: 80%;
    height: 65%;
    display: flex;

}

.genere{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

ul{
    display: flex;
    list-style: none;
    color: white;
}


li{
    margin: 0 10px;
}

.logo-box{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.logo{
    height: 60%;
    display: flex;
    background-size: contain;
}

.icon-box{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.icon{
    width: 20px;
 }

 /* /HEADER */

 .container{
    max-width: 1200px;
    margin: 60px auto;
    
 }

 .row{
    width: 100%;
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
 }

.col{
    width: calc(100% / 3 - 53px);
    
    height: 500px;
    
}

.show{
    max-width: 100%;
    
    display: block;
}

.hidden{
    max-width: 100%;
    
    display: none;
}

.product:hover .hidden{
    display: block;
}

.produc:hover .show{
    display: none;
}

.product{
    position: relative;
}

.discount{
    color: white;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 50px;
    padding: 2px;
}

.heart{
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    top: 30px;
    padding: 10px;
    width: 30px;
}

.eco{
    position: absolute;
    color: white;
    background-color: green;
    left: 0;
    bottom: 50px;
    padding: 2px;
}

.eco-b{
    position: absolute;
    color: white;
    background-color: green;
    left: 50px;
    bottom: 50px;
    padding: 2px;
}

footer{
    background-color: #1a1a1a;
    height: 100px;
    display: flex;
    justify-content: center;
}

.containerf{
    width: 80%;
    height: 65%;
    display: flex;
}

.society{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.white{
    color: white;
    margin-bottom: 7px;
    margin-right: 60px;
}

h3{
    color: white;
    margin-bottom: 5px;
}

.policy{
    margin-left: -10px;
    color: lightgray;
}

.social{
width: 53%;
height: 100%;
display: flex;
align-items: flex-end;
justify-content: flex-end;
flex-direction: column;
}